h1{
  text-align: center;
  font-size: 40px;
  font-style: italic;

}
.main-container{
  background-color: azure;
  width: 60%;
  margin: 20px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.accordian-class{
  background-color: rgb(199, 193, 193);
  border: grey 1px solid;
}
.questions{
  display: flex;
  justify-content: space-between;
}
.questions span{
  margin-top: 15px;
  margin-right: 15px;
  font-size: 25px;

}
.answer{
  margin-left: 10px;

}
.questions h2{
  margin-left: 5px;
}